doctype html
head
    meta(charset='utf-8')
    link(rel='apple-touch-icon' sizes='76x76' href='https://res.cloudinary.com/cde/image/upload/v1658206315/Icon/logo_cdrkpi.png')
    link(rel='icon' type='image/png' href='https://res.cloudinary.com/cde/image/upload/v1658206315/Icon/logo_cdrkpi.png')
    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
    title Model Fashion
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport')

    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700,200' rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css' rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' rel='stylesheet')
    // CSS Files
    style 
        include ./assets/css/bootstrap.min.css
    style 
        include ./assets/css/paper-dashboard.css 
    style 
        include ./assets/css/main.css
.wrapper
    .sidebar(data-color='white' data-active-color='danger')
        .logo
            a.simple-text.logo-mini(href='/main')
                .logo-image-small
                    img(src="https://res.cloudinary.com/cde/image/upload/v1658206315/Icon/logo_cdrkpi.png")
            a.simple-text.logo-normal(href='/main') Model Fashion
        .sidebar-wrapper
            ul.nav
                li
                    a(href='/main')
                        i.nc-icon.nc-chart-pie-36
                        p Dashboard
                li
                    a(href='/user')
                        i.nc-icon.nc-circle-10
                        p User
                li
                    a(href='/category')
                        i.nc-icon.nc-bullet-list-67
                        p Category
                li
                    a(href='/product')
                        i.nc-icon.nc-align-left-2
                        p Product
                li
                    a(href='/voucher')
                        i.nc-icon.nc-money-coins
                        p Voucher
                li.active
                    a(href='/bill')
                        i.nc-icon.nc-delivery-fast
                        p Bill
                li
                    a(href='/profile')
                        i.nc-icon.nc-single-02
                        p Profile
                li.active-pro
                    a(href='/user/logout')
                        i.nc-icon.nc-user-run
                        p Log Out
    .main-panel
        nav.navbar.navbar-expand-lg.navbar-absolute.fixed-top.navbar-transparent
            .container-fluid
                .navbar-wrapper
                    .navbar-toggle
                    a.navbar-brand(href='javascript:;') Quản lý đơn hàng
        .content
            .row
                .col-md-12
                    .card
                        .card-body
                            .table-responsive   
                                table#myTable.table.table-striped.table-class
                                    thead.text-primary
                                        th STT
                                        th Mã đơn
                                        th Tên người đặt
                                        th Số điện thoại
                                        th Tổng Tiền
                                        th Ngày đặt đơn 
                                        th Tình trạng đơn
                                    tbody
                                        each bill,index in listBill  
                                            tr
                                                a(href="/bill/getBillDetailWeb/"+bill.bill_id)
                                                    td= index+1
                                                    td
                                                        a(href="/bill/getBillDetailWeb/"+bill.bill_id)= bill.bill_id
                                                    td=bill.user_name
                                                    td=bill.phone
                                                    td= bill.total_price +' đ'
                                                    td= bill.created_at
                                                    td= bill.status
                                                    td
                                                        if (bill.status=="Chờ Xác Nhận")
                                                            .row
                                                                button.btn.btn-outline-primary.btn-round(onclick=`bill.confirmStatusBill('${bill.bill_id}','/bill/billConfirm')`)
                                                                    i.nc-icon.nc-check-2(style= 'font-size : 14px ;')
                                                                button.btn.btn-outline-danger.btn-round(onclick=`bill.onClickForm('Chờ Xác Nhận','${bill.bill_id}');`)
                                                                    i.nc-icon.nc-simple-remove(style= 'font-size : 14px ;')
                                                        if (bill.status=="Yêu Cầu Hủy Đơn")
                                                            .row
                                                                button.btn.btn-outline-primary.btn-round(onclick=`bill.confirmStatusBill('${bill.bill_id}','/bill/billCancellationConfirmation')`)
                                                                    i.nc-icon.nc-check-2(style= 'font-size : 14px ;')
                                                                button.btn.btn-outline-danger.btn-round(onclick=`bill.onClickForm('Yêu Cầu Hủy Đơn','${bill.bill_id}');`)
                                                                    i.nc-icon.nc-simple-remove(style= 'font-size : 14px ;')
                                                        if (bill.status=="Yêu Cầu Hoàn Đơn")
                                                            .row
                                                                button.btn.btn-outline-primary.btn-round(onclick=`bill.confirmStatusBill('${bill.bill_id}','/bill/confirmReturnRequest')`)
                                                                    i.nc-icon.nc-check-2(style= 'font-size : 14px ;')
                                                                button.btn.btn-outline-danger.btn-round(onclick=`bill.onClickForm('Yêu Cầu Hoàn Đơn','${bill.bill_id}');`)
                                                                    i.nc-icon.nc-simple-remove(style= 'font-size : 14px ;')
                                                        if (bill.status=="Đang Giao")
                                                            .row
                                                                button.btn.btn-outline-primary.btn-round(onclick=`bill.confirmStatusBill('${bill.bill_id}','/bill/billDone')`) 
                                                                    i.nc-icon.nc-check-2(style= 'font-size : 14px ;')
                                                                button.btn.btn-outline-danger.btn-round(onclick=`bill.onClickForm('Đang Giao','${bill.bill_id}');`)
                                                                    i.nc-icon.nc-simple-remove(style= 'font-size : 14px ;')
                                                .feedback-form
                                                    .feedback-form-content
                                                        #formFeedback
                                .col-md-4
                                    .row
                                        .form-group
                                            h6 Chọn số bản ghi
                                            select#maxRows.form-control(name='state')
                                                option(value='5000') Xem toàn bộ
                                                option(value='5') 5
                                                option(value='10') 10
                                                option(value='15') 15
                                                option(value='20') 20
                                    .row
                                        .pagination-container
                                            nav
                                                ul.pagination
                                                    li(data-page='prev')
                                                        span &lt; 
                                                            span.sr-only (current)
                                                    li#prev(data-page='next')
                                                        span &gt; 
                                                            span.sr-only (current)     
// Core JS Files
script
    include ./assets/js/core/jquery.min.js
script
    include ./assets/js/core/popper.min.js
script
    include ./assets/js/core/bootstrap.min.js
script
    include ./assets/js/plugins/perfect-scrollbar.jquery.min.js
script
    include ./assets/js/plugins/chartjs.min.js
script
    include ./assets/js/plugins/bootstrap-notify.js
script
    include ./assets/js/paper-dashboard.min.js
script
    include ./assets/js/bill.js
script
    include ./assets/js/paginationTable.js

