doctype html
head
    meta(charset='utf-8')
    link(rel='apple-touch-icon' sizes='76x76' href='https://res.cloudinary.com/cde/image/upload/v1658206315/Icon/logo_cdrkpi.png')
    link(rel='icon' type='image/png' href='https://res.cloudinary.com/cde/image/upload/v1658206315/Icon/logo_cdrkpi.png')
    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
    title Model Fashion
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport')

    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700,200' rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css' rel='stylesheet')
    // CSS Files
    style 
        include ./assets/css/bootstrap.min.css
    style 
        include ./assets/css/paper-dashboard.css 
    style 
        include ./assets/demo/demo.css
.wrapper
    .sidebar(data-color='white' data-active-color='danger')
        .logo
            a.simple-text.logo-mini(href='/main')
                .logo-image-small
                    img(src="https://res.cloudinary.com/cde/image/upload/v1658206315/Icon/logo_cdrkpi.png")
            a.simple-text.logo-normal(href='/main') Model Fashion
        .sidebar-wrapper
            ul.nav
                li
                    a(href='/main')
                        i.nc-icon.nc-chart-pie-36
                        p Dashboard
                li
                    a(href='/user')
                        i.nc-icon.nc-circle-10
                        p User
                li
                    a(href='/category')
                        i.nc-icon.nc-bullet-list-67
                        p Category
                li
                    a(href='/product')
                        i.nc-icon.nc-align-left-2
                        p Product
                li
                    a(href='#')
                        i.nc-icon.nc-money-coins
                        p Voucher
                li.active
                    a(href='/bill')
                        i.nc-icon.nc-delivery-fast
                        p Bill
                li
                    a(href='/profile')
                        i.nc-icon.nc-single-02
                        p Profile
                li.active-pro
                    a(href='/user/logout')
                        i.nc-icon.nc-button-power
                        p Log Out
    .main-panel    
        nav.navbar.navbar-expand-lg.navbar-absolute.fixed-top.navbar-transparent
            .container-fluid
                .navbar-wrapper
                    .navbar-toggle
                    a.navbar-brand(href='javascript:;') Thông tin đơn hàng  
        .content
            .card
                .card-body
                    .container.mb-5.mt-3
                        .row.d-flex.align-items-baseline
                            .col-xl-9
                                h5.text-danger(style='font-size: 22px;')
                                    | Hóa Đơn 
                        .container
                            .row
                                .col-xl-8
                                    ul.list-unstyled
                                        li.text-muted
                                            a(href="#") 
                                                i.nc-icon.nc-badge(style='color: #000;font-size: 18px;')= "  Tên khách hàng: " + bill.user_name 
                                        li.text-muted
                                            i.nc-icon.nc-pin-3(style='color: #000;font-size: 18px;')= "  Địa chỉ: " + bill.address 
                                        li.text-muted
                                            i.nc-icon.nc-mobile(style='color: #000;font-size: 18px;')= "  Phone: "+bill.phone
                                .col-xl-4
                                    ul.list-unstyled
                                        li.text-muted
                                            i.nc-icon.nc-money-coins(style='color: #000;font-size: 18px;')= '  ID: #' +bill.bill_id
                                        li.text-muted
                                            i.nc-icon.nc-calendar-60(style='color: #000;font-size: 18px;')= '  Creation Date: ' +bill.created_at
                                        li.text-muted
                                            i.nc-icon.nc-delivery-fast(style='color: #000;font-size: 18px;')  Status:
                                            if (bill.status == "Hoàn Thành")
                                                span.badge.bg-success.fw-bold(style='color: #000; font-size: 14px;')= bill.status
                                            if (bill.status == "Chờ Xác Nhận")
                                                span.badge.bg-warning.fw-bold(style='color: #000; font-size: 14px;')= bill.status
                                            if (bill.status == "Đã Hủy")
                                                span.badge.bg-danger.fw-bold(style='color: #000; font-size: 14px;')= bill.status
                            .row.my-2.mx-1.justify-content-center
                                .col-md-2.mb-4.mb-md-0
                                    .bg-image.ripple.rounded-5.mb-4.overflow-hidden.d-block(data-ripple-color='light')
                                    img.w-100(src='https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/new/img(4).webp' height='100px' alt='Elegant shoes and shirt')
                                    a(href='#!')
                                        .hover-overlay
                                        .mask(style='background-color: hsla(0, 0%, 98.4%, 0.2)')
                                .col-md-7.mb-4.mb-md-0
                                    p.fw-bold Custom suit
                                    p.mb-1
                                    span.text-muted.me-2 Size:
                                    span 8.5
                                    p
                                    span.text-muted.me-2 Color:
                                    span Gray
                                .col-md-3.mb-4.mb-md-0
                                    h5.mb-2
                                    s.text-muted.me-2.small.align-middle $1500
                                    span.align-middle $1050
                                    p.text-danger
                                    small You save 25%
                                hr
                                .row
                                .col-xl-8
                                    p.ms-3 Add additional notes and payment information
                                .col-xl-3
                                    ul.list-unstyled
                                    li.text-muted.ms-3
                                        span.text-black.me-4 SubTotal
                                        | $1050
                                    li.text-muted.ms-3.mt-2
                                        span.text-black.me-4 Shipping
                                        | $15
                                    p.text-black.float-start
                                    span.text-black.me-3  Total Amount
                                    span(style='font-size: 25px;') $1065

                    .row
                        .col-md-10.ml-auto.mr-auto
                            .card.card-upgrade
                                .card-header.text-center
                                    h4.card-title= "Mã đơn: " + bill.bill_id
                                .card-body
                                    .row
                                        .col-md-3.ml-auto.mr-auto
                                            .row
                                                h5 Tên khách hàng
                                                p.form-control=bill.user_name

                                        .col-md-3.px-1
                                            .form-group
                                                label Số Điện Thoại
                                                input.form-control(type='text' disabled value=bill.phone)
                    .row
                        div
                            p.text-sm.font-medium.text-gray-400 Tên Khách Hàng
                            p= bill.user_name
                        div
                            p.text-sm.font-medium.text-gray-400 Số Điện Thoại
                            p= bill.phone
                        div
                            p.text-sm.font-medium.text-gray-400 Ngày Đặt
                            p= bill.created_at
                        if (bill.status=="Đã Giao")
                            div
                                p.text-sm.font-medium.text-gray-400 Ngày Giao
                                p= bill.updated_at
                        div
                            p.text-sm.font-medium.text-gray-400 Trạng Thái
                            p= bill.status
                            .border-b.border-gray-200.p-9
                                p.text-sm.font-medium.text-gray-400 Lưu Ý
                                p.text-sm Thank you for your order.
                            table.w-full.border
                                thead
                                    tr.border-b.bg-gray-50
                                        th
                                            .flex.items-center.justify-center Sản phẩm
                                        th
                                            .flex.items-center.justify-center
                                        th
                                            .flex.items-center.justify-center Size
                                        th
                                            .flex.items-center.justify-center Số lượng
                                        th
                                            .flex.items-center.justify-center Giá tiền 
                                tbody
                                    each product in listProduct  
                                        tr.border-b.bg-gray-100.text-center.text-sm.text-gray-600
                                            td.border-r.p-2= product.product_name
                                            td.border-r.p-2
                                                img(src=product.product_image, alt="" style='width:80px; height:80px;')
                                            td.border-r.p-2= product.size
                                            td.border-r.p-2= product.quantity
                                            td.border-r.p-2= product.price
                            .border-b.border-gray-200.p-9
                                .space-y-3
                                .flex.justify-between
                                    div
                                    p.text-lg.font-bold.text-black Tổng Tiền
                                    p.text-lg.font-bold.text-black= bill.total_price+ " Đ"
    a.btn.btn-round.btn-default.disabled(href='#') Current Version

    a.btn.btn-round.btn-primary(target='_blank' href='https://www.creative-tim.com/product/paper-dashboard-2-pro?ref=pd-free-upgrade-live') Upgrade to PRO    
// Core JS Files
script
    include ./assets/js/core/jquery.min.js
script
    include ./assets/js/core/popper.min.js
script
    include ./assets/js/core/bootstrap.min.js
script
    include ./assets/js/plugins/perfect-scrollbar.jquery.min.js
script
    include ./assets/js/plugins/chartjs.min.js
script
    include ./assets/js/plugins/bootstrap-notify.js
script
    include ./assets/js/paper-dashboard.min.js
script
    include ./assets/demo/demo.js
script
    include ./assets/js/main.js
