doctype html
head
    meta(charset='utf-8')
    link(rel='apple-touch-icon' sizes='76x76' href='https://res.cloudinary.com/cde/image/upload/v1658206315/Icon/logo_cdrkpi.png')
    link(rel='icon' type='image/png' href='https://res.cloudinary.com/cde/image/upload/v1658206315/Icon/logo_cdrkpi.png')
    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
    title Model Fashion
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport')

    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700,200' rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css' rel='stylesheet')
    // CSS Files
    style 
        include ./assets/css/bootstrap.min.css
    style 
        include ./assets/css/paper-dashboard.css 
    style 
        include ./assets/demo/demo.css
.wrapper
    .sidebar(data-color='white' data-active-color='danger')
        .logo
            a.simple-text.logo-mini(href='/main')
                .logo-image-small
                    img(src="https://res.cloudinary.com/cde/image/upload/v1658206315/Icon/logo_cdrkpi.png")
            a.simple-text.logo-normal(href='/main') Model Fashion
        .sidebar-wrapper
            ul.nav
                li
                    a(href='/main')
                        i.nc-icon.nc-chart-pie-36
                        p Dashboard
                li
                    a(href='/user')
                        i.nc-icon.nc-circle-10
                        p User
                li
                    a(href='/category')
                        i.nc-icon.nc-bullet-list-67
                        p Category
                li
                    a(href='/product')
                        i.nc-icon.nc-align-left-2
                        p Product
                li
                    a(href='#')
                        i.nc-icon.nc-money-coins
                        p Voucher
                li.active
                    a(href='/bill')
                        i.nc-icon.nc-delivery-fast
                        p Bill
                li
                    a(href='/profile')
                        i.nc-icon.nc-single-02
                        p Profile
                li.active-pro
                    a(href='/user/logout')
                        i.nc-icon.nc-button-power
                        p Log Out
    .main-panel    
        .container.mt-5.mb-5
            .d-flex.justify-content-center.row
                .col-md-10
                    .receipt.bg-white.p-3.rounded
                        img(src="https://res.cloudinary.com/cde/image/upload/v1659265119/Icon/logoc3_jtgw2m.png" width='120' height='40')
                        .row.mt-2.d-flex.align-items-baseline
                            .col-xl-9
                                h6.text-danger Thông tin đơn hàng 
                        .row
                            .col-xl-8
                                ul.list-unstyled
                                    li.text-muted.row.ml-5
                                        i.nc-icon.nc-badge.mr-2(style='color: #000;font-size: 18px;')
                                        p.font-weight-bold.mr-2   Tên khách hàng:  
                                        a(href="#")
                                            p= bill.user_name 
                                    li.text-muted.row.ml-5
                                        i.nc-icon.nc-pin-3.mr-2(style='color: #000;font-size: 18px;')
                                        p.font-weight-bold.mr-2  Địa chỉ: 
                                        p=  bill.address 
                                    li.text-muted.row.ml-5
                                        i.nc-icon.nc-mobile.mr-2(style='color: #000;font-size: 18px;')
                                        p.font-weight-bold.mr-2 Phone: 
                                        p=  bill.phone
                            .col-xl-4
                                ul.list-unstyled
                                    li.text-muted.row
                                        i.nc-icon.nc-money-coins.mr-2(style='color: #000;font-size: 18px;')
                                        p.font-weight-bold.mr-2 ID: 
                                        p=bill.bill_id
                                    li.text-muted.row
                                        i.nc-icon.nc-calendar-60.mr-2(style='color: #000;font-size: 18px;')
                                        p.font-weight-bold.mr-2  Ngày đặt hàng: 
                                        p=bill.created_at
                                    li.text-muted.row
                                        i.nc-icon.nc-delivery-fast.mr-2(style='color: #000;font-size: 18px;')
                                        p.font-weight-bold.mr-4 Status:
                                            if (bill.status == "Hoàn Thành")
                                                span.badge.bg-success.fw-bold(style='color: #000; font-size: 14px;')= bill.status
                                            if (bill.status == "Chờ Xác Nhận")
                                                span.badge.bg-warning.fw-bold(style='color: #000; font-size: 14px;')= bill.status
                                            if (bill.status == "Đã Hủy")
                                                span.badge.bg-danger.fw-bold(style='color: #000; font-size: 14px;')= bill.status
                        hr
                        each product in listProduct  
                            .d-flex.justify-content-between.align-items-center.product-details
                                .d-flex.flex-row.product-name-image
                                    img.rounded(src=product.product_image, alt="" style='width:80px; height:80px;')
                                    .d-flex.flex-column.justify-content-between.ml-2
                                        div
                                            span.d-block.font-weight-bold.p-name=product.product_name
                                            span.fs-12="Size: "+product.size
                                        span.fs-12="Số lượng: " +product.quantity
                                .product-price
                                    if(product.price_sale == "0")
                                        h6.font-weight-bold= product.price + " đ"
                                    else 
                                        h6.font-weight-bold
                                            del= product.price + " đ"
                                        h6.font-weight-bold.text-danger= product.price_sale+ " đ"
                        .mt-5.amount.row
                            .d-flex.justify-content-center.col-md-6
                            .col-md-6
                                .billing
                                    .d-flex.justify-content-between
                                        span= "Tạm tính (x"+bill.total_product+" sp)"
                                        span.font-weight-bold= total_price_no_voucher+ " đ"
                                    .d-flex.justify-content-between.mt-2
                                        span.text-success Giảm giá voucher
                                        span.font-weight-bold.text-success= bill.discount_voucher_price + " đ"
                                    .d-flex.justify-content-between.mt-2
                                    .d-flex.justify-content-between.mt-2
                                        span Thanh toán
                                        if(bill.payment_status == "Đã thanh toán bằng Momo")
                                            span.badge.bg-success.fw-bold(style='color: #000; font-size: 14px;')=  bill.payment_status
                                        if(bill.payment_status == "Thanh toán khi nhận hàng")
                                            span.badge.bg-warning.fw-bold(style='color: #000; font-size: 14px;')=  bill.payment_status
                                    .d-flex.justify-content-between.mt-2
                                    hr
                                    .d-flex.justify-content-between.mt-1
                                        span.font-weight-bold Thành tiền
                                        span.font-weight-bold.text-primary= bill.total_price+ " đ"
                        if( bill.updated_at)
                            span.d-block Ngày giao hàng
                            span.font-weight-bold.text-success= bill.updated_at
                        hr
                        .d-flex.justify-content-between.footer
                            .col-md-5.column
                                if(bill.feedback)
                                    .column
                                        span.d-block.font-weight-bold Đánh giá của khách hàng
                                        span= bill.feedback
                                if(bill.cancellation_reason)
                                    .column
                                        span.d-block.font-weight-bold Lý do hủy đơn 
                                        span= bill.cancellation_reason 
                                if(bill.return_request)
                                    .column
                                        span.d-block.font-weight-bold Lý do hoàn đơn 
                                        span= bill.return_request
                                if(bill.feedback_by_store)
                                    .column
                                        span.d-block.font-weight-bold Phản hồi từ shop
                                        span= feedback_by_store
                        hr
                        btn.btn-primary Nhận


// Core JS Files
script
    include ./assets/js/core/jquery.min.js
script
    include ./assets/js/core/popper.min.js
script
    include ./assets/js/core/bootstrap.min.js
script
    include ./assets/js/plugins/perfect-scrollbar.jquery.min.js
script
    include ./assets/js/plugins/chartjs.min.js
script
    include ./assets/js/plugins/bootstrap-notify.js
script
    include ./assets/js/paper-dashboard.min.js
script
    include ./assets/demo/demo.js
script
    include ./assets/js/main.js
