doctype html
head
    meta(charset='utf-8')
    link(rel='apple-touch-icon' sizes='76x76' href='https://res.cloudinary.com/cde/image/upload/v1658206315/Icon/logo_cdrkpi.png')
    link(rel='icon' type='image/png' href='https://res.cloudinary.com/cde/image/upload/v1658206315/Icon/logo_cdrkpi.png')
    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
    title Model Fashion
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport')

    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700,200' rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css' rel='stylesheet')
    // CSS Files
    style 
        include ./assets/css/bootstrap.min.css
    style 
        include ./assets/css/paper-dashboard.css 
    style 
        include ./assets/demo/demo.css
.wrapper
    .sidebar(data-color='white' data-active-color='danger')
        .logo
            a.simple-text.logo-mini(href='/main')
                .logo-image-small
                    img(src="https://res.cloudinary.com/cde/image/upload/v1658206315/Icon/logo_cdrkpi.png")
            a.simple-text.logo-normal(href='/main') Model Fashion
        .sidebar-wrapper
            ul.nav
                li
                    a(href='/main')
                        i.nc-icon.nc-chart-pie-36
                        p Dashboard
                li
                    a(href='/user')
                        i.nc-icon.nc-circle-10
                        p User
                li
                    a(href='/category')
                        i.nc-icon.nc-bullet-list-67
                        p Category
                li
                    a(href='/product')
                        i.nc-icon.nc-align-left-2
                        p Product
                li
                    a(href='#')
                        i.nc-icon.nc-money-coins
                        p Voucher
                li.active
                    a(href='/bill')
                        i.nc-icon.nc-delivery-fast
                        p Bill
                li
                    a(href='/profile')
                        i.nc-icon.nc-single-02
                        p Profile
                li.active-pro
                    a(href='/user/logout')
                        i.nc-icon.nc-user-run
                        p Log Out
    .main-panel
        nav.navbar.navbar-expand-lg.navbar-absolute.fixed-top.navbar-transparent
            .container-fluid
                .navbar-wrapper
                    .navbar-toggle
                    a.navbar-brand(href='javascript:;') Quản lý đơn hàng
        .content
            .row
                .col-md-12
                    .card
                        .card-body
                            .table-responsive   
                                table#myTable
                                    thead.text-primary
                                        th STT
                                        th Mã đơn
                                        th Tên người đặt
                                        th Số điện thoại
                                        th Địa Chỉ
                                        th Tình trạng đơn
                                        th Tổng Tiền
                                        th Ngày đặt đơn 

                                    tbody
                                        each bill,index in listBill  
                                            tr
                                                td= index+1
                                                td
                                                    a(href="/bill/getBillDetailWeb/"+bill.bill_id)= bill.bill_id
                                                td=bill.user_name
                                                td=bill.phone
                                                td= bill.address
                                                td= bill.status
                                                td= bill.total_price +' đ'
                                                td= bill.created_at
                                                if (bill.status=="Yêu Cầu Hủy Đơn")
                                                    td
                                                        a.btn.btn-primary(href='/bill/billCancelDone/'+bill.bill_id ) Đồng Ý
                                                    td
                                                        a.btn.btn-primarya(href='/bill/refuseToCancelBill/'+bill.bill_id ) Từ Chối 
                                                if (bill.status=="Chờ Xác Nhận")
                                                    td
                                                        a.btn.btn-primary(href='/bill/billConfirm/'+bill.bill_id class='hover:shadow-lg') Nhận
                                                    td
                                                        a.btn.btn-primary(href='/bill/billCancel/'+bill.bill_id class='hover:shadow-lg') Từ Chối
                                                if (bill.status=="Đang Giao")
                                                    td
                                                        a.btn.btn-primary(href='/bill/billDone/'+bill.bill_id class='hover:shadow-lg') Đã Giao
// Core JS Files
script
    include ./assets/js/core/jquery.min.js
script
    include ./assets/js/core/popper.min.js
script
    include ./assets/js/core/bootstrap.min.js
script
    include ./assets/js/plugins/perfect-scrollbar.jquery.min.js
script
    include ./assets/js/plugins/chartjs.min.js
script
    include ./assets/js/plugins/bootstrap-notify.js
script
    include ./assets/js/paper-dashboard.min.js
script
    include ./assets/demo/demo.js
script
    include ./assets/js/main.js
