doctype html
head
    meta(charset='utf-8')
    link(rel='apple-touch-icon' sizes='76x76' href='https://res.cloudinary.com/cde/image/upload/v1658206315/Icon/logo_cdrkpi.png')
    link(rel='icon' type='image/png' href='https://res.cloudinary.com/cde/image/upload/v1658206315/Icon/logo_cdrkpi.png')
    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
    title Model Fashion
    meta(http-equiv="Content-Security-Policy" content="upgrade-insecure-requests")
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport')
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700,200' rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css' rel='stylesheet')
    // CSS Files
    style 
        include ./assets/css/bootstrap.min.css
    style 
        include ./assets/css/paper-dashboard.css 
    style 
        include ./assets/css/main.css
.wrapper
    .sidebar(data-color='white' data-active-color='danger')
        .logo
            a.simple-text.logo-mini(href='/main')
                .logo-image-small
                    img(src="https://res.cloudinary.com/cde/image/upload/v1658206315/Icon/logo_cdrkpi.png")
            a.simple-text.logo-normal(href='/main') Model Fashion
        .sidebar-wrapper
            ul.nav
                li.active
                    a(href='/main')
                        i.nc-icon.nc-chart-pie-36
                        p Dashboard
                li
                    a(href='/user')
                        i.nc-icon.nc-circle-10
                        p User
                li
                    a(href='/category')
                        i.nc-icon.nc-bullet-list-67
                        p Category
                li
                    a(href='/product')
                        i.nc-icon.nc-align-left-2
                        p Product
                li
                    a(href='/voucher')
                        i.nc-icon.nc-money-coins
                        p Voucher
                li
                    a(href='/bill')
                        i.nc-icon.nc-delivery-fast
                        p Bill
                li
                    a(href='/profile')
                        i.nc-icon.nc-single-02
                        p Profile
                li.active-pro
                    a(href='/user/logout')
                        i.nc-icon.nc-user-run
                        p Log Out
    .main-panel
        // Navbar
        nav.navbar.navbar-expand-lg.navbar-absolute.fixed-top.navbar-transparent
            .container-fluid
                .navbar-wrapper
                    .navbar-toggle
                    a.navbar-brand(href='javascript:;') Thống Kê
        // End Navbar
        .content
            .row
                .col-lg-3.col-md-6.col-sm-6
                    .card.card-stats
                        .card-body
                            .row
                                .col-4.col-md-2
                                    .icon-big.text-center.icon-warning
                                        i.nc-icon.nc-money-coins.text-warning
                                .col-8.col-md-10
                                    .numbers
                                        p.card-category.text-danger Tổng Doanh Thu
                                        p.card-title.text-warning= tongDoanhThu +" đ"
                        .card-footer
                            hr
                            .stats
                                a(href='/main')
                                    i.fa.fa-refresh   Cập nhật ngay
                .col-lg-3.col-md-6.col-sm-6
                    .card.card-stats
                        .card-body
                            .row
                                .col-5.col-md-4
                                    .icon-big.text-center.icon-warning
                                        i.nc-icon.nc-basket.text-success
                                .col-7.col-md-8
                                    .numbers
                                        p.card-category.text-danger Đơn Đã Bán
                                        p.card-title.text-success= donDaGiao 
                        .card-footer
                            hr
                            .stats
                                a(href='/main')
                                    i.fa.fa-refresh    Cập nhật ngay
                .col-lg-3.col-md-6.col-sm-6
                    .card.card-stats
                        .card-body
                            .row
                                .col-5.col-md-4
                                    .icon-big.text-center.icon-warning
                                        i.nc-icon.nc-delivery-fast.text-primary
                                .col-7.col-md-8
                                    .numbers
                                        p.card-category.text-danger Đang Xử Lý
                                        p.card-title.text-primary= donDangXuLy 
                        .card-footer
                            hr
                            .stats
                                a(href='/main')
                                    i.fa.fa-refresh    Cập nhật ngay
                .col-lg-3.col-md-6.col-sm-6
                    .card.card-stats
                        .card-body
                            .row
                                .col-5.col-md-4
                                    .icon-big.text-center.icon-warning
                                        i.nc-icon.nc-box-2.text-danger
                                .col-7.col-md-8
                                    .numbers
                                        p.card-category.text-danger Giao hàng thất bại
                                        p.card-title.text-danger= donThatBai
                        .card-footer
                            hr
                            .stats
                                a(href='/main')
                                    i.fa.fa-refresh    Cập nhật ngay
            .row
                .col-md-12
                    .card
                        .card-header
                            h5.card-title Thống Kế Doanh Thu Từng Tháng
                        .card-body
                            canvas#chartRevenue(width='400' height='100')
                        .card-footer
                            hr
                            .stats
                                i.fa.fa-history
                                |  Updated 3 minutes ago
                            .stats
                                a(href='/main')
                                    i.fa.fa-refresh    Cập nhật ngay
            .row
                .col-md-6
                    .card
                        .card-header
                            h5.card-title Thống kê đơn hàng
                        .card-body
                            canvas#chartBill(height='100')
                            hr
                            .stats
                                a(href='/main')
                                    i.fa.fa-refresh    Cập nhật ngay
            .row
                .col-md-12
                    .card.card-chart
                        .card-header
                            h5.card-title Tăng trưởng đơn theo tháng
                        .card-body
                            canvas#speedChart(width='400' height='100')
            .row
                .col-md-6
                    #page-content.page-content.page-container
                        .padding
                            .row.container.d-flex.justify-content-center.h-5
                                .card
                                    .card-body
                                        h4.card-title Top 10 khách hàng thân thiết
                                        table.table.table-responsive(style="height: 300px; overflow-y: scroll; ")
                                            thead.header.text-primary
                                                tr
                                                    th ID
                                                    th Tên 
                                                    th Số đơn đã đặt
                                                    th Số tiền đã chi tiêu
                                            tbody#dataUser
                .col-md-6
                    #page-content.page-content.page-container
                        .padding
                            .row.container.d-flex.justify-content-center.h-5
                                .card
                                    .card-body
                                        h4.card-title Top 10 sản phẩm bán chạy
                                        table.table.table-responsive(style="height: 300px; overflow-y: scroll; ")
                                            thead.header.text-primary
                                                tr
                                                    th Mã sản phẩm
                                                    th Tên sản phẩm
                                                    th Thể loại
                                                    th Số lượng đã bán
                                                    th Số lượng trong kho
                                            tbody#dataProduct
script
    include ./assets/js/core/jquery.min.js
script
    include ./assets/js/core/popper.min.js
script
    include ./assets/js/core/bootstrap.min.js
script
    include ./assets/js/plugins/perfect-scrollbar.jquery.min.js
script
    include ./assets/js/plugins/chartjs.min.js
script
    include ./assets/js/plugins/bootstrap-notify.js
script
    include ./assets/js/paper-dashboard.min.js
script
    include ./assets/js/main.js
script.
    $(document).ready(function() {
    main.initChartsPages();
    main.top10User();
    main.top10Product();
    });

