doctype html
head
    meta(charset='utf-8')
    link(rel='apple-touch-icon' sizes='76x76' href='https://res.cloudinary.com/cde/image/upload/v1658206315/Icon/logo_cdrkpi.png')
    link(rel='icon' type='image/png' href='https://res.cloudinary.com/cde/image/upload/v1658206315/Icon/logo_cdrkpi.png')
    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
    title Model Fashion
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport')
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700,200' rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css' rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' rel='stylesheet')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js")

    // CSS Files
    style 
        include ./assets/css/bootstrap.min.css
    style 
        include ./assets/css/paper-dashboard.css 
    style 
        include ./assets/css/main.css
.wrapper
    .sidebar(data-color='white' data-active-color='danger')
        .logo
            a.simple-text.logo-mini(href='/main')
                .logo-image-small
                    img(src="https://res.cloudinary.com/cde/image/upload/v1658206315/Icon/logo_cdrkpi.png")
            a.simple-text.logo-normal(href='/main')
                | Model Fashion
        .sidebar-wrapper
            ul.nav
                li
                    a(href='/main')
                        i.nc-icon.nc-chart-pie-36
                        p Dashboard
                li.active
                    a(href='/user')
                        i.nc-icon.nc-circle-10
                        p User
                li
                    a(href='/category')
                        i.nc-icon.nc-bullet-list-67
                        p Category
                li
                    a(href='/product')
                        i.nc-icon.nc-align-left-2
                        p Product
                li
                    a(href='/voucher')
                        i.nc-icon.nc-money-coins
                        p Voucher
                li
                    a(href='/bill')
                        i.nc-icon.nc-delivery-fast
                        p Bill
                li
                    a(href='/profile')
                        i.nc-icon.nc-single-02
                        p Profile
                li.active-pro
                    a(href='/user/logout')
                        i.nc-icon.nc-user-run
                        p Log Out
    .main-panel
        nav.navbar.navbar-expand-lg.navbar-absolute.fixed-top.navbar-transparent
            .container-fluid
                .navbar-wrapper
                    a.navbar-brand(href='#') Quản Lý Tài Khoản
        .content    
            .col-md-6
                form.ml-2.mb-2.align-self-center
                    .input-group.no-border
                        input#myInput.form-control(onkeyup='searchTable(1)' type='text' name='search' placeholder='Tìm tên người dùng...')
                        .input-group-append
                            .input-group-text
                                i.nc-icon.nc-zoom-split  
            .col-md-6
                if(permission == "super admin")
                    a.btn.btn-primary.align-self-center(href='/user/insertUser' role='button') Tạo Tài Khoản
            .col-md-12
                .card
                    .card-body
                        .table-responsive
                            table#myTable.table.table-striped.table-class
                                thead.header.text-primary
                                    th ID
                                    th(onclick='sortTable(1)') Tên
                                    th Số Điện Thoại
                                    th(onclick='sortTable(3)') Giới Tính
                                    th(onclick='sortTable(4)') Loại Tài Khoản
                                    th(onclick='sortTable(5)') Tình Trạng
                                tbody
                                    each user in listUser  
                                        tr  
                                            td 
                                                a.text-dark(href='/user/userDetail/?user_id='+user.user_id )=user.user_id
                                            td= user.user_name
                                            td= user.phone
                                            if (user.gender===1)
                                                td Nam
                                            else  
                                                td Nữ
                                            td= user.permission
                                            if (user.active===0)
                                                td Hoạt Động
                                            else  
                                                td Bị Khóa Đặt Hàng  
                        .col-md-4
                            .row
                                .form-group
                                    h6 Chọn số bản ghi
                                    select#maxRows.form-control(name='state')
                                        option(value='5000') Xem toàn bộ
                                        option(value='5') 5
                                        option(value='10') 10
                                        option(value='15') 15
                                        option(value='20') 20
                            .row
                                .pagination-container
                                    nav(aria-label='...')
                                        ul.pagination
                                            li(data-page='prev')
                                                span &lt; 
                                                    span.sr-only (current)
                                            li#prev(data-page='next')
                                                span &gt; 
                                                    span.sr-only (current)           
script
    include ./assets/js/core/jquery.min.js
script
    include ./assets/js/core/popper.min.js
script
    include ./assets/js/core/bootstrap.min.js
script
    include ./assets/js/plugins/perfect-scrollbar.jquery.min.js
script
    include ./assets/js/plugins/chartjs.min.js
script
    include ./assets/js/plugins/bootstrap-notify.js
script
    include ./assets/js/paper-dashboard.min.js
script
    include ./assets/js/table.js
script
    include ./assets/js/paginationTable.js
script.
    $('#exampleModal').on('shown.bs.modal', function () {$('#myInput').trigger('focus')})




